<html>
  <head>
    <title> group</title>
    <link rel="stylesheet" type="text/css" href="css/groupStyle.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="bootstrap.min.js"> </script>
    <script type="text/javascript" src="jquery.min.js"> </script> -->
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="./js/group.js"> </script>
    <script type="text/javascript">

    </script>
  </head>
  <body>
    <div>
      <% include header%>
      <div class="body-group">
        <div class="col-sm-3  member-group" id="member_group">

          <a href="#" id="closeActivity">
            <span style="font-size: 20px; float: right; margin-top: 2px;"
            class="glyphicon glyphicon-remove"> </span>
          </a>
          <br>
          <a id="open_member" href="#">
            <h4>Thành viên (<%=listMemg.length+1%>)</h4>
          </a>
          <a id="closeBoxMember" href="#">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
          <div id="all_member" class="">
            <div class="user-box">

              <div class="user-setting">
                <!-- <div class="icon-message">
                  <a href="#"><img src="images/message.png" alt="message icon"></a>
                </div> -->
                <div id="icon-add-newmember" class="icon-add-newmember">
                  <a href="#"><img src="images/plus-icon.png" alt="add new member"></a>
                </div>
                <div id="search-gr" class="input-group" style="margin-top: 13px;">
                  <div class="input-group-btn">
                    <button class=" btn btn-default" id="cancel_search" type="button"> X</button>
                  </div>
                  <input type="text" class="form-control" id="val-search-gr" placeholder="Search">
                  <div class="input-group-btn" >
                    <button class=" btn btn-default" id="search-gr-btn" type="button"> Search</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="list-search" class="list-search">
              <div class="title-list-search">
                <span class="set-title glyphicon glyphicon-search "></span>
                <span class="set-title">kết quả tìm kiếm</span>
                <span id="rm_box_search" class="set-title right-set glyphicon glyphicon-remove"></span>
              </div>
              <div id="content_list_search"  class="content-list-search">
                <ul> </ul>
              </div>
            </div>
            <input type="hidden" id="lenListMemg" value="<%=listMemg.length%>">
            <input type="hidden" id="name_user" value="<%=name%>">

            <ul class="list-member">
              <li>
                <div class="icon-member">
                  <img src="images/user.png" alt="member icon">
                </div>
                <div class="name-member">
                  <input type="hidden" id="member_chat_id0"
                  value="<%=idAdmin%>">
                  <a id="member_chat0" href="#id=<%=idAdmin%>"><%=addMinGr%>  </a>
                </div>
              </li>
              <%for(let memg=0; memg<listMemg.length;memg++){%>
                <li>
                  <div class="icon-member">
                    <img src="images/user.png" alt="member icon">
                  </div>
                  <div class="name-member">
                    <input type="hidden" id="member_chat_id<%=memg+1%>"
                    value="<%=listMemg[memg].id_user%>">
                    <a id="member_chat<%=memg+1%>" href="#id=<%=listMemg[memg].id_user%>">
                      <%=listMemg[memg].fullname%>
                    </a>
                  </div>
                </li>
              <%}%>
            </ul>
          </div>
            <br>
            <a id="activity_btn" style="display: inline-block;" href="#"> Hoạt động </a>
            <a id="activity_close_btn" style="display: inline-block; float: right;
              margin-right :2px;" href="#">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
            <div id="activity_box" class="activity-box">
              <ul>
              </ul>
            </div>
          </div>

        <div id="box_chat_child" class="box-chat-child"> </div>
        <div id="content_group" class="col-sm-9 content-group">
           <div class="title-group">
             <div class="icon-group">
               <img src="images/icon-group.png" alt="group icon">
             </div>
             <div class="name-group">
               <a id="title_group" href="#" style="text-decoration: none;">
                 <%=group_name%>  </a>
             </div>
             <!-- <div class="btn-call">
               <a href="#"><span class="glyphicon glyphicon-facetime-video"></span></a>
             </div> -->
           </div>

           <div class="" style="overflow:auto;height:550px;">
           <input type="hidden" id="lenListToppic" value="<%=listTopic.length%>">
           <input type="hidden" id="lenListExer" value="<%=listExer.length%>">
            <input type="hidden" id="rs_UNG" value="<%=resultUNG%>">
            <input type="hidden" id="lenListMemWork" value="<%=listMemWork.length%>">
             <%for(var toppic=0; toppic<listTopic.length; toppic++){%>
               <div class="list-toppic">
                 <div class="name-toppic">
                   <a id="btn_edit_toppic<%=toppic%>" href="#"><%=listTopic[toppic].topic_name%> </a>
                   <input type="hidden" id="toppic_name<%=toppic%>"
                    value="<%=listTopic[toppic].topic_name%>">
                 </div>
                 <div id="box_edit_toppic<%=toppic%>" class="">
                   <input type="hidden" id="id_toppic_edit<%=toppic%>"
                   value="<%=listTopic[toppic].id%>">
                   <div  class="box-edit-toppic  form-edit">
                     <input type="text" class="form-control" id="toppic_edit_name<%=toppic%>"
                      placeholder="sửa chủ đề" value="">
                   </div>
                   <div  class="box-edit-toppic">
                     <input type="button"  id="btn_send_edit_toppic<%=toppic%>"
                     class="btn btn-default" value="sửa">
                   </div>
                   <div  class="box-edit-toppic">
                     <a id="un_edit_toppic<%=toppic%>" href="#"  >
                       <span class="glyphicon glyphicon-remove"></span>
                     </a>
                   </div>
                 </div>
                 <ul>
                   <%for(let exer=0; exer < listExer.length; exer++){%>

                     <%if(listTopic[toppic].id == listExer[exer].id_toppic){ %>

                       <li id="exe_list<%=toppic%><%=exer%>">
                         <a href="#" data-toggle="modal" id="exer_name_list<%=toppic%><%=exer%>"
                          data-target="#myModal<%=toppic%><%=exer%>">
                           <%=listExer[exer].exercise_name%>
                         </a>
                        <input type="hidden" id="exercise_name_hidden<%=toppic%><%=exer%>"
                        value="<%=listExer[exer].exercise_name%>">
                         <div class="modal fade" id="myModal<%=toppic%><%=exer%>" role="dialog">
                         <div class="modal-dialog">
                           <!-- Modal content-->
                           <div class="modal-content">
                             <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal">&times;</button>
                               <h4 class="modal-title" id="name_exer_edit<%=toppic%><%=exer%>">
                                 <%=listExer[exer].exercise_name%></h4>

                               <div id="box_edit_exercise<%=toppic%><%=exer%>" class="">
                                 <input type="hidden" id="id_exer_edit<%=toppic%><%=exer%>"
                                 value="<%=listExer[exer].id%>">
                                 <div  class="box-edit-exer  form-edit-exer">
                                   <input type="text" class="form-control"
                                   id="exer_edit_name<%=toppic%><%=exer%>"
                                    placeholder="sửa tên bài tập" value="">
                                 </div>
                                 <div  class="box-edit-exer">
                                   <input type="button" id="btn_send_edit_exer<%=toppic%><%=exer%>"
                                   class="btn btn-default" value="sửa">
                                 </div>
                                 <div  class="box-edit-exer">

                                   <span id="un_edit_exer_name<%=toppic%><%=exer%>"
                                   class="glyphicon glyphicon-remove">
                                   </span>
                                 </div>
                               </div>
           <div class="box-activities">
             <div id="box_option_activity<%=toppic%><%=exer%>" class="box-option-activity">
               <div id="honors_div<%=toppic%><%=exer%>" class="">
                 <p style="color: green;"
                    class="microsoft marquee">
                    <%=listExer[exer].honors%>
                 </p>
               </div>
               <div id="remind_div<%=toppic%><%=exer%>" class="">
                 <p style="color: red;"
                    class="microsoft remind_marquee">
                    <%=listExer[exer].remind%>
                 </p>
               </div>
               <ul >
                 <li id="li_time_activity<%=toppic%><%=exer%>" class="active">
                   Thời gian học nhóm
                 </li>
                 <li id="li_exer_activity<%=toppic%><%=exer%>">
                   Bài tập
                 </li>
                 <li id="li_evalua_activity<%=toppic%><%=exer%>">
                   Đánh giá
                 </li>
               </ul>
             </div>
             <div id="box_time_learn<%=toppic%><%=exer%>" class=" box-time-learn">
               <span id="msg_success_schedule<%=toppic%><%=exer%>"></span>
               <div id="box_manager_time<%=toppic%><%=exer%>" class="box-manager-time">

                 <table style="" class="table">
                   <tbody>
                     <tr>
                       <td class="col-sm-3">
                         <input class="form-control" type="date"
                         id="start_date<%=toppic%><%=exer%>" value="">
                       </td>
                       <td class="col-sm-2">
                         <input type="text" class="form-control"
                         id="start_time<%=toppic%><%=exer%>" value="" placeholder="vd:09:05">
                       </td>
                       <td class="col-sm-1">-></td>
                       <td class="col-sm-3">
                         <input class="form-control" type="date"
                          id="finish_date<%=toppic%><%=exer%>" value="">
                       </td>
                       <td class="col-sm-2">
                         <input type="text" class="form-control"
                         id="finish_time<%=toppic%><%=exer%>" value="" placeholder="vd:09:30">
                       </td>
                       <td class="col-sm-1">
                         <input type="button" class="btn btn-default"
                         id="btn_create_schedule<%=toppic%><%=exer%>" value="Tạo lịch">
                       </td>
                     </tr>
                   </tbody>
                 </table>
               </div>
               <div id="box_display_time<%=toppic%><%=exer%>" class="box-display-time">
                 <div id="time_schedule<%=toppic%><%=exer%>" class="time-schedule">
                   <table class="table"  >
                     <thead>
                       <tr>
                         <th>Ngày</th>
                         <th>Giờ</th>
                         <th>-></th>
                         <th>Ngày</th>
                         <th>Giờ</th>
                         <th>Hủy</th>
                       </tr>
                     </thead>
                     <tbody>
                     </tbody>
                   </table>
                 </div>
               </div>
             </div>
             <div id="box_manager_work<%=toppic%><%=exer%>" class="box-manager-exer">
                  <span id="msg_success_work<%=toppic%><%=exer%>"></span>
                 <div id="admin_add_work<%=toppic%><%=exer%>" class="">
                   <div id="btn_click_add<%=toppic%><%=exer%>" class="btn-click-add">
                     <input type="text" id="add_work<%=toppic%><%=exer%>"
                        placeholder="Thêm công việc"  value="">
                   </div>
                   <div id="form_add_exer_app<%=toppic%><%=exer%>" class="form-add-exer-app">
                     <textarea id="work_name<%=toppic%><%=exer%>" rows="5" cols="38"
                     placeholder="Nhập công việc"></textarea>
                     <table class="table" style="width: 100%; position:relative; font-size: 13px;">
                       <tbody>

                         <tr>
                           <td>Đến:</td>
                           <td id="td_select_member<%=toppic%><%=exer%>">

                           </td>
                           <td>
                             <input type="hidden" id="work_for_mem<%=toppic%><%=exer%>" value="">
                             <select class="form-control" style="width: 15px;"
                              id="select_member<%=toppic%><%=exer%>">
                              <%for(let mem_work = 0; mem_work < listMemWork.length; mem_work++){%>

                                <option value="<%=listMemWork[mem_work].id%>">
                                  <%=listMemWork[mem_work].fullname%>
                                </option>
                              <%}%>
                             </select>
                           </td>
                         </tr>
                         <tr>
                           <td>Thời hạn</td>
                           <td><input class="form-control" type="date"
                             id="time_bound<%=toppic%><%=exer%>" value="">
                           </td>
                           <td>
                           </td>
                         </tr>
                         <tr>
                           <td></td>
                           <td>
                             <input type="button" class="btn btn-default"
                             id="add_new_work<%=toppic%><%=exer%>" value="Thêm công việc">
                             <input type="button" class="btn btn-default"
                             id="un_add_work<%=toppic%><%=exer%>" value="Hủy">
                           </td>
                           <td></td>
                         </tr>
                       </tbody>
                     </table>

                   </div>
                 </div>

                 <div id="work_time_member<%=toppic%><%=exer%>" class="time-work">


                 </div>
               <div class="col-sm-12">

               </div>
             </div>
             <div id="box_evaluation<%=toppic%><%=exer%>" class="box-evaluation ">
               <span id="msg_success_evaluation<%=toppic%><%=exer%>"></span>
               <table class="table" id="admin_evaluation<%=toppic%><%=exer%>">
                 <tbody>
                   <tr>
                     <td>
                       <textarea id="comment_member<%=toppic%><%=exer%>"
                          placeholder="Nhận xét thành viên"
                        class="form-control" rows="1" cols="35"></textarea>
                     </td>
                     <td>
                       <select class="form-control"
                        id="rank_member<%=toppic%><%=exer%>">
                         <option value="-1">Xếp loại</option>
                         <option value="A+">A+</option>
                         <option value="A">A</option>
                         <option value="B+">B+</option>
                         <option value="B">B</option>
                         <option value="C+">C+</option>
                         <option value="C">C</option>
                         <option value="D+">D+</option>
                         <option value="D">D</option>
                         <option value="F">F</option>
                       </select>
                     </td>
                     <td>
                       <select class="form-control"
                        id="valuation_mem<%=toppic%><%=exer%>">
                        <option value="-1">Thành viên</option>
                        <%for(let mem_work = 0; mem_work < listMemWork.length; mem_work++){%>
                          <option value="<%=listMemWork[mem_work].id%>">
                            <%=listMemWork[mem_work].fullname%>
                          </option>
                        <%}%>

                       </select>
                     </td>
                     <td>
                       <input type="button" class="form-control"
                         id="btn_comment<%=toppic%><%=exer%>"
                        value="Nhận xét">
                     </td>
                   </tr>
                 </tbody>
                 <table class="table">
                   <tbody>
                     <tr>
                       <td>
                         <select class="form-control" style="margin-top: 10px;"
                          id="honors_mem<%=toppic%><%=exer%>">
                          <option value="-1">Vinh danh</option>
                          <%for(let mem_work = 0; mem_work < listMemWork.length; mem_work++){%>
                            <option value="<%=listMemWork[mem_work].fullname%>">
                              <%=listMemWork[mem_work].fullname%>
                            </option>
                          <%}%>
                          <option value="_10">
                            Hủy
                          </option>
                         </select>
                       </td>
                       <td>
                         <select class="form-control" style="margin-top: 10px;"
                          id="remind_mem<%=toppic%><%=exer%>">
                          <option value="-1">Nhắc nhở</option>
                          <%for(let mem_work = 0; mem_work < listMemWork.length; mem_work++){%>
                            <option value="<%=listMemWork[mem_work].fullname%>">
                              <%=listMemWork[mem_work].fullname%>
                            </option>
                          <%}%>
                          <option value="_10">
                            Hủy
                          </option>
                         </select>
                       </td>
                     </tr>
                   </tbody>
                 </table>
               </table>
               <div id="list_valuation<%=toppic%><%=exer%>" class="">

               </div>
             </div>
             <div id="add_attachment<%=toppic%><%=exer%>" class="add-attachment ">
               <span id="mess_att<%=toppic%><%=exer%>"></span>
               <div id="form_add_attachment<%=toppic%><%=exer%>" class="">
                 <span style="color: #415144; font-weight:bold;font-size: 16px;">
                  File đính kèm</span>

                 <input type="file"  id="file_upload<%=toppic%><%=exer%>" value="">
                 <input type="submit" id="btn_fileupload<%=toppic%><%=exer%>" value="Đính kèm">

               </div>
               <div id="display_file_attachment<%=toppic%><%=exer%>" class="">

               </div>
             </div>
             </div>
           </div>
                             <div id="modal_body_discuss<%=toppic%><%=exer%>" class="modal-body">
                               <%for(let com=0; com < listComm.length; com++){%>
                                 <%if(listExer[exer].id == listComm[com].id_exercise){%>
                                   <%if(listComm[com].id_user == id_user){%>
                                     <div class="container">
                                      <img src="./images/user.png" alt="Avatar" style="width:100%;">
                                      <p><%=listComm[com].discuss%></p>
                                      <span class="time-right"><%=name%> (<%=listComm[com].time%>)</span>
                                     </div>
                                   <%}else{%>
                                     <div class="container darker">
                                      <img src="./images/userth.png" alt="Avatar" class="right" style="width:100%;">
                                      <p><%=listComm[com].discuss%></p>
                                      <span class="time-left"><%=listComm[com].fullname%> (<%=listComm[com].time%>)</span>
                                     </div>
                                   <%}%>
                                 <%}%>
                               <%}%>
                               <!-- <div class="container darker">
                                <img src="./images/userth.png" alt="Avatar" class="right" style="width:100%;">
                                <p>Hey! I'm fine. Thanks for asking!</p>
                                <span class="time-left">Nguyen Van A (11:01)</span>
                               </div> -->
                             </div>
                             <div class="modal-footer">
                                <div class="">
                                  <textarea style="float: left;" id="val_dis<%=toppic%><%=exer%>"
                                    rows="2" cols="75"></textarea>
                                  <input type="hidden" id="val_gid<%=toppic%><%=exer%>"
                                   value="<%=listTopic[toppic].id%>">
                                   <input type="hidden" id="name_user<%=toppic%><%=exer%>" value="<%=name%>">
                                   <input type="hidden" id="val_eid<%=toppic%><%=exer%>"
                                  value="<%=listExer[exer].id%>">
                                  <button style="margin-top:5px;" type="button"
                                  class="btn btn-default" id="send_dis<%=toppic%><%=exer%>">
                                    Thảo luận
                                  </button>
                                </div>
                                <div style="clear: both; float: left;" class="">
                                  <span style="float:left;" id="ms_file_discuss<%=toppic%><%=exer%>">
                                  </span>
                                  <br>
                                  <span style="margin-top: 5px; float: left; color: #415144; font-weight:bold;font-size: 16px;"
                                  >Đính kèm file</span>
                                  <br>
                                  <input style="float: left; clear: both;" type="file"
                                  id="file_diss<%=toppic%><%=exer%>" value="">
                                  <br>
                                  <input style="float: left;" type="button"
                                  id="btn_file_diss<%=toppic%><%=exer%>" value="Đính kèm">
                                </div>
                             </div>
                           </div>
                         </div>
                       </div>
                       </li>
                     <%}%>
                   <%}%>
                 </ul>
                 <div class="add-exercise-box" id="exe-box<%=toppic%>">
                   <input type="text" style="margin-bottom:3px;"
                    class="form-control" id="exercise_name<%=toppic%>" value="">
                  <input type="hidden" id="toppic_id<%=toppic%>" value="<%=listTopic[toppic].id%>">


                   <button class="btn btn-default" type="button"
                    id="exercise_add<%=toppic%>">
                     Thêm</button>
                    <a id="rm_box<%=toppic%>" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                 </div>

                 <button type="button"
                 style="margin-left:20px;margin-bottom:10px;"
                 class="btn btn-default" id="exe_btn<%=toppic%>">
                   Thêm bài tập</button>
                   <span id="msg_add_toppic<%=toppic%>"></span>
               </div>
             <%}%>
              <button type="button" class="btn btn-default" id="btn-add-toppic">Thêm chủ đề</button>
              <div id="box-add-toppic" class="box-add-toppic">
                <div class="child-add-toppic">
                  <div class="">
                    <label for="toppic-name">Tên chủ đề</label>
                    <input type="text" id="toppic-name" class="form-control" value="">
                    <select class="form-control" style="margin-top: 4px;" id="toppic_type">
                      <option value="0">Chủ đề kín</option>
                      <option value="1">Chủ đề công khai</option>
                    </select>
                    <input type="hidden" id="id_user" value="<%=id_user%>">
                     <input type="hidden" id="id_group" value="<%=id_group%>">
                  </div>
                  <div class="" style="margin-top: 15px;">
                     <span id="messageAddToppic"> </span><br>
                    <input type="button" class="btn btn-primary" id="subm-toppic" value="Thêm">
                    <a href="#" style="font-size:16px;">
                      <span class="glyphicon glyphicon-remove"></span>
                    </a>
                  </div>
                </div>
              </div>
           </div>
           </div>
        </div>
      </div>
      <input type="hidden" id="id_of_group" value="<%=id_group%>">
      <input type="hidden" id="name_of_group" value="<%=group_name%>">
    </div>

  </body>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
</html>
