<html>
  <head>
    <title> group</title>
    <link rel="stylesheet" type="text/css" href="css/groupStyle.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="bootstrap.min.js"> </script>
    <script type="text/javascript" src="jquery.min.js"> </script> -->
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="./js/group.js"> </script>
    <script type="text/javascript">

    </script>
  </head>
  <body>
    <div>
      <% include header%>
      <div class="body-group">
        <div class="member-group">

          <div class="user-box">

            <div class="user-setting">
              <!-- <div class="icon-message">
                <a href="#"><img src="images/message.png" alt="message icon"></a>
              </div> -->
              <div id="icon-add-newmember" class="icon-add-newmember">
                <a href="#"><img src="images/plus-icon.png" alt="add new member"></a>
              </div>
              <div id="search-gr" class="input-group" style="margin-top: 13px;">
                <div class="input-group-btn" >
                  <button class=" btn btn-default" id="cancel_search" type="button"> X</button>
                </div>
                <input type="text" class="form-control" id="val-search-gr" placeholder="Search">
                <div class="input-group-btn" >
                  <button class=" btn btn-default" id="search-gr-btn" type="button"> Search</button>
                </div>
              </div>
            </div>
          </div>
          <div id="list-search" class="list-search">
            <div class="title-list-search">
              <span class="set-title glyphicon glyphicon-search "></span>
              <span class="set-title">kết quả tìm kiếm</span>
              <span id="rm_box_search" class="set-title right-set glyphicon glyphicon-remove"></span>
            </div>
            <div id="content_list_search"  class="content-list-search">
              <ul>


              </ul>
            </div>
          </div>
          <input type="hidden" id="lenListMemg" value="<%=listMemg.length%>">
          <ul class="list-member">
            <li>
              <div class="icon-member">
                <img src="images/user.png" alt="member icon">
              </div>
              <div class="name-member">
                <input type="hidden" id="member_chat_id0"
                value="<%=idAdmin%>">
                <a id="member_chat0" href="#id=<%=idAdmin%>"><%=addMinGr%>  </a>
              </div>
            </li>
            <%for(let memg=0; memg<listMemg.length;memg++){%>
              <li>
                <div class="icon-member">
                  <img src="images/user.png" alt="member icon">
                </div>
                <div class="name-member">
                  <input type="hidden" id="member_chat_id<%=memg+1%>"
                  value="<%=listMemg[memg].id_user%>">
                  <a id="member_chat<%=memg+1%>" href="#id=<%=listMemg[memg].id_user%>">
                    <%=listMemg[memg].fullname%>
                  </a>
                </div>
              </li>
            <%}%>
          </ul>
        </div>
        <div id="box_chat_child" class="box-chat-child">

          <!-- <div class="name-child-chat">
            <a href="#">Vi Văn Thức</a>
            <a href="#" style="float: right; margin-right: 2px;" id="rm_box_child_chat">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
          <div class="content-child-chat">
            <ul>
              <li class="container darker">
                <img src="./images/user.png" alt="Avatar" class="right" style="width:100%;">
                <p>xin chao tat ca cac ban, minh ten la vi van thuc</p>
                <span class="time-left">11:01</span>
              </li>
              <li class="container">
                <img src="./images/userth.png" alt="Avatar" style="width:100%;">
                <p>Chao cc</p>
                <span class="time-right">11:00</span>
              </li>
            </ul>
          </div>
          <div class="send-child-chat">
            <div class="input-group" >
              <textarea name="name"class="form-control"
              placeholder="Nhập nội dung" rows="1" cols="20"></textarea>

              <div class="input-group-btn" >
                <button class="btn btn-default" id="search" type="button">
                  Gửi
                </button>
              </div>
            </div>
          </div> -->
        </div>


        <div class="content-group">
           <div class="title-group">
             <div class="icon-group">
               <img src="images/icon-group.png" alt="group icon">
             </div>
             <div class="name-group">
               <a style="text-decoration: none;"><%=group_name%> </a>
             </div>
             <div class="btn-call">
               <a href="#"><span class="glyphicon glyphicon-facetime-video"></span></a>
             </div>
           </div>

           <div class="" style="overflow:auto;height:550px;">
           <input type="hidden" id="lenListToppic" value="<%=listTopic.length%>">
           <input type="hidden" id="lenListExer" value="<%=listExer.length%>">
            <input type="hidden" id="rs_UNG" value="<%=resultUNG%>">

             <%for(var toppic=0; toppic<listTopic.length; toppic++){%>

               <div class="list-toppic">
                 <div class="name-toppic">
                   <a href="#"><%=listTopic[toppic].topic_name%> </a>
                 </div>
                 <ul>
                   <%for(let exer=0; exer < listExer.length; exer++){%>

                     <%if(listTopic[toppic].id == listExer[exer].id_toppic){ %>

                       <li>
                         <a href="#" data-toggle="modal" data-target="#myModal<%=toppic%><%=exer%>">
                           <%=listExer[exer].exercise_name%>
                         </a>
                         <div class="modal fade" id="myModal<%=toppic%><%=exer%>" role="dialog">
                         <div class="modal-dialog"> 
                           <!-- Modal content-->
                           <div class="modal-content">
                             <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal">&times;</button>
                               <h4 class="modal-title"><%=listExer[exer].exercise_name%></h4>
                             </div>
                             <div id="modal_body_discuss<%=toppic%><%=exer%>" class="modal-body">
                               <%for(let com=0; com < listComm.length; com++){%>
                                 <%if(listExer[exer].id == listComm[com].id_exercise){%>
                                   <%if(listComm[com].id_user == id_user){%>
                                     <div class="container">
                                      <img src="./images/user.png" alt="Avatar" style="width:100%;">
                                      <p><%=listComm[com].discuss%></p>
                                      <span class="time-right"><%=name%> (11:00)</span>
                                     </div>
                                   <%}else{%>
                                     <div class="container darker">
                                      <img src="./images/userth.png" alt="Avatar" class="right" style="width:100%;">
                                      <p><%=listComm[com].discuss%></p>
                                      <span class="time-left"><%=listComm[com].fullname%> (12:00)</span>
                                     </div>
                                   <%}%>
                                 <%}%>
                               <%}%>
                               <!-- <div class="container darker">
                                <img src="./images/userth.png" alt="Avatar" class="right" style="width:100%;">
                                <p>Hey! I'm fine. Thanks for asking!</p>
                                <span class="time-left">Nguyen Van A (11:01)</span>
                               </div> -->
                             </div>
                             <div class="modal-footer">
                                <div class="">
                                  <textarea style="float: left;" id="val_dis<%=toppic%><%=exer%>"
                                    rows="2" cols="75"></textarea>
                                  <input type="hidden" id="val_gid<%=toppic%><%=exer%>"
                                   value="<%=listTopic[toppic].id%>">
                                   <input type="hidden" id="val_eid<%=toppic%><%=exer%>"
                                  value="<%=listExer[exer].id%>">
                                  <button style="margin-top:5px;" type="button"
                                  class="btn btn-default" id="send_dis<%=toppic%><%=exer%>">
                                    Thảo luận
                                  </button>
                                </div>
                                <div style="clear: both; float: left;" class="">
                                  <span class="glyphicon glyphicon-paperclip"></span>
                                </div>
                             </div>
                           </div>
                         </div>
                       </div>
                       </li>
                     <%}%>
                   <%}%>
                 </ul>
                 <div class="add-exercise-box" id="exe-box<%=toppic%>">
                   <input type="text" style="margin-bottom:3px;"
                    class="form-control" id="exercise_name<%=toppic%>" value="">
                  <input type="hidden" id="toppic_id<%=toppic%>" value="<%=listTopic[toppic].id%>">
                   <button class="btn btn-default" type="button"
                    id="exercise_add<%=toppic%>">
                     Thêm</button>
                    <a id="rm_box<%=toppic%>" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                 </div>

                 <button type="button"
                 style="margin-left:20px;margin-bottom:10px;"
                 class="btn btn-default" id="exe_btn<%=toppic%>">
                   Thêm bài tập</button>
                   <span id="msg_add_toppic<%=toppic%>"></span>
               </div>
             <%}%>
              <button type="button" class="btn btn-default" id="btn-add-toppic">Thêm chủ đề</button>
              <div id="box-add-toppic" class="box-add-toppic">
                <div class="child-add-toppic">
                  <div class="">
                    <label for="toppic-name">Tên chủ đề</label>
                    <input type="text" id="toppic-name" class="form-control" value="">
                    <select class="form-control" style="margin-top: 4px;" id="toppic_type">
                      <option value="0">Chủ đề kín</option>
                      <option value="1">Chủ đề công khai</option>
                    </select>
                    <input type="hidden" id="id_user" value="<%=id_user%>">
                     <input type="hidden" id="id_group" value="<%=id_group%>">
                  </div>
                  <div class="" style="margin-top: 15px;">
                     <span id="messageAddToppic"> </span><br>
                    <input type="button" class="btn btn-primary" id="subm-toppic" value="Thêm">
                    <a href="#" style="font-size:16px;">
                      <span class="glyphicon glyphicon-remove"></span>
                    </a>
                  </div>
                </div>
              </div>
           </div>
           </div>
        </div>
      </div>
      <input type="hidden" id="id_of_group" value="<%=id_group%>">
    </div>

  </body>

</html>
